@font-face {
    font-family: 'GT Eesti Pro Display';
    src:url('/assets/fonts/gteestiprodisplay_thin.otf');
    src: local('gteestiprodisplay_thin'), local('gteestiprodisplay_thin'),
       url('/assets/fonts/gteestiprodisplay_thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'GT Eesti Pro Display';
    src:url('/assets/fonts/gteestiprodisplay_light.otf');
    src: local('gteestiprodisplay_light'), local('gteestiprodisplay_light'),
       url('/assets/fonts/gteestiprodisplay_light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'GT Eesti Pro Display';
    src:url('/assets/fonts/gteestiprodisplay_regular.otf');
    src: local('gteestiprodisplay_regular'), local('gteestiprodisplay_regular'),
       url('/assets/fonts/gteestiprodisplay_regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'GT Eesti Pro Display';
    src:url('/assets/fonts/gteestiprodisplay_medium.otf');
    src: local('gteestiprodisplay_medium'), local('gteestiprodisplay_medium'),
       url('/assets/fonts/gteestiprodisplay_medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'GT Eesti Pro Display';
    src:url('/assets/fonts/gteestiprodisplay_bold.otf');
    src: local('gteestiprodisplay_bold'), local('gteestiprodisplay_bold'),
       url('/assets/fonts/gteestiprodisplay_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
