@import './display.css';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p {
    font-family: 'GT Eesti Pro Display';
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'GT Eesti Pro Display';
}
a {
    text-decoration: none;
    font-family: 'GT Eesti Pro Display';
}
button {
    cursor: pointer;
    font-family: 'GT Eesti Pro Display';
}
.container{
    margin: auto;
    max-width: 1240px;
}

/* шапка */
.wrap_header{
    padding: 40px 0 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search_inp{
    width: 300px;
    height: 40px;
    background: #F0F0F8;
    border-radius: 5px;
    padding-left: 40px;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #828282;
}
.search_inp::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #828282;
}
.search_inp:-moz-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #828282;
}
.open_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.open_wrap{
    height: 100%;
    border-right: 2px solid #EDEDED;
    display: none;
    align-items: center;
    padding-left: 30px;
}
.open_wrap_btn {
    background: none;
    border: none;
    border-right: 2px;
    padding-right: 20px;
    cursor: pointer;
}
.wrap_social{
    display: flex;
    align-items: center;
    gap: 22px;
}
.link_social{
    text-decoration: none;
}
.wrap_number {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top:5px;
}
.btn_message{
    position: relative;
    border-radius: 5px;
    padding: 10px;
    background: none;
}

.wrap_btn_lang{
    display: flex;
    gap: 25px;
}
.wrap_number_social{
    display: flex;
    gap: 50px;
}
.link_number {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #333333;
}
.text_number {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    background: linear-gradient(326.32deg, #1DC387 -17.71%, #91E53E 130%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;    
}
.wrap_main_title {
    background: rgba(68, 68, 68, 0.5);
    padding: 12px 10px 12px 40px;
    max-width: 600px;
    margin-bottom: 152px;
}
.category_wrap{
    position: absolute;
    left: 120px;
    bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 382px;
}
.link_category{
    display: block;
    background: #212121;
    padding: 11px 15px;
    transition: 0.3s;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
.link_category:hover{
    background: #FEDA00;
    color: #000000;
}
.nav_wrap{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100%;
    background: #ffffff;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}
.nav_wrap.active{
    left: 0%;
}
.wrap_btn_close {

}
.btn_close {
    background: none;
    border: none;
    position: absolute;
    top: 40px;
    left: 40px;
    cursor: pointer;
}
.nav_list {
    list-style-type: none;
}
.nav_list a {
    text-decoration: none;
}
.nav_li {
    font-family: 'Montserrat';
    font-size: 26px;
    font-weight: 700;
    color: #212121;
    text-align: center;
    margin-bottom: 40px;
}
.nav_li:hover{
    color: #E9CB19
}
.li_desktop_menu{
    position: relative;
}
.li_desktop_menu a{
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.03em;
    padding: 15px 0;
    color: #0D0D0E;
}
.li_desktop_menu a:hover{
    color: #1DC387;
}
.pod_list_desktop{
    -webkit-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
    -webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
    list-style-type: none;
    transition: 0.3s;
    width: 0;
    background: #EEF2F4;
    border: 1px solid #F0F0F8;
    border-radius: 14px;
    padding:20px;
    position: absolute;
    left: 0;
    top: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 1000;
}
.li_desktop_menu:hover .pod_list_desktop {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    width: 120px;
  }
  .menu_desktop{
    list-style-type: none;
    display: flex;
    gap: 40px;
    padding-left: 0;
  }
  .mini_header2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap_btn_part {
    display: flex;
    gap: 25px;
}
.btn_part{
    border: 2px solid #1DC387;
    border-radius: 14px;
    background: none;
    width: 240px;
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #333333;
}
.link_wa{

}






/*попап*/
.overlay-pop{
	height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background: #000000ab;
    display: none;
    align-items: center;
    justify-content: center;
}
.form_btn_popup{
    width: 100%;
}
.main_form_popup{
    margin-top: 55px;
}
.img-close-pop{
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 9999999999;
	cursor: pointer;
    width: 35px;
}
.form_inp_popup{
    width: 100%;
}
.body-popap{
	max-width: 450px;
    background: #fff;
    border: 2px solid #F1F1F1;
    box-shadow: 0px 4px 15px rgba(84, 84, 84, 0.03);
    padding: 40px 20px 40px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-popap{
    width: 100%;
    max-width: 330px;
    margin-bottom: 60px;
}
.application-success{
    max-width: 380px;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #323C55;
    margin-bottom: 26px;
}
.manager-txt{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #727272;
    max-width: 283px;
}
@media(max-width:480px){
    .logo-popap{
        width: 80%;
        margin-bottom: 30px;
    }
    .body-popap{
        margin: 0 20px;
        padding: 80px 20px 20px 20px;
    }
    .application-success{
        margin-bottom: 20px;
        font-size: 28px;
    }
    .img-close-pop{
        width: 35px;
    }
}

.contact_header_text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #828282;
}
.kol_med {
    background: linear-gradient(121.85deg, #F01E1E -13.11%, #871414 113.36%);
    border-radius: 90px;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 9px;
    right: 5px;
}
.kol_med_txt {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}
.visually_impaired {
    display: flex;
    align-items: center;
    justify-content: center;
}
.visually_impaired img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}
.search_inp_wrap{
    position: relative;
}
.search_inp_btn{
    position: absolute;
    top: 50%; left: 10px;
	-webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(0,-50%);
        transform: translate(0,-50%);
    background: none;
    border: none;
    margin-top: 2px;
}
.h1_display{
    display: none;
}
.title_swiper {
    font-weight: 400;
    font-size: 54px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #333333;
    max-width: 450px;
}
.title_swiper_span {
    background: linear-gradient(326.32deg, #1DC387 -17.71%, #91E53E 130%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;    
}
.txt_swiper {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333333;
    max-width: 360px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.btn_swiper {
    background: linear-gradient(326.32deg, #1DC387 -17.71%, #91E53E 130%);
    border-radius: 14px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    border: none;
    width: 240px;
    height: 60px;
}
.discription_swiper{
    padding-top: 80px;
    width: 45%;
}
.disription_img_wrap{
    display: flex;
    justify-content: space-between;
}
.img_swiper{
    width: 100%;
}
#main_pag{
    text-align: left;
    bottom: 60px;
}
#main_pag .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
}
#main_pag .swiper-pagination-bullet-active{
    background: linear-gradient(326.32deg, #1DC387 -17.71%, #91E53E 130%);
    width: 14px;
    height: 14px;
}
.services{
    padding-bottom: 140px;
    background: #EEF2F4;
}
.img_wrap_swiper{
    display: flex;
    height: 100%;
    align-items: end;
}
.subtitle_services{
    font-weight: 400;
    font-size: 300px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}
.services-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: -210px;
}
.services-item1{
    width: 820px;
}
.services-item2{
    width: 400px;
}
.services-item3{
    width: 295px;
}
.services-item4{
    width: 295px;
}
.services-item5{
    width: 610px;
}

.services-item {
    padding: 40px;
    background: #FFFFFF;
    border-radius: 20px;
    display: block;
    position: relative;
    transition: 0.3s;
}
.mini_wrap_services {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 60px;
}
.services_title_item {
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #333333;
}
.services_txt_item {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333333;
    max-width: 300px;
}
.services_btn_item {
    background: linear-gradient(326.32deg, #1DC387 -17.71%, #91E53E 130%);
    color: #fff;
    border-radius: 14px;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    border: none;
    width: 200px;
    height: 60px;
}
.abs_mini_services{
    position: absolute;
    top: -80px;
    right: 0;
}
.services_txt_item2{
    max-width: 150px;
}
.services_txt_item3{
    max-width: 150px;
}
.arrow_services{
    margin-bottom: 10px;
}
.mini_wrap_services2{
    justify-content: space-between;
}
.services-item:hover{
    background: linear-gradient(326.32deg, #1DC387 -17.71%, #91E53E 130%);
}  
.services-item:hover .services_title_item {
    color: #fff;
}  
.services-item:hover .services_txt_item {
    color: #fff;    
}  
.services-item:hover .services_btn_item {
    color: #333333;
    background: #FFFFFF;    
} 
.svg-arrow{
    fill: url(#linear-gradient);
}
.services-item:hover .svg-arrow{
    fill: url(#linear-gradient_hov);
}
.doctors_sec{
    background: #EEF2F4;
    padding-bottom: 140px;
}
.doctors-subtitle{
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.doctors-subtitle span{
    background: linear-gradient(326.32deg, #1DC387 -17.71%, #91E53E 130%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.wrap_doctor {
    max-width: 295px;
}
.wrap_img_doctor {
    background: #FFFFFF;
    border-radius: 20px;
    position: relative;
    min-height: 340px;
    display: flex;
    justify-content: center;
}
.img_doctor {
    position: absolute;
    bottom: 0;
}
.btn_doctor {
    background: linear-gradient(326.32deg, #1DC387 -17.71%, #91E53E 130%);
    border-radius: 14px;
    font-weight: 700;
    font-size: 0px;
    line-height: 130%;
    color: #FFFFFF;
    position: absolute;
    bottom: 20px;
    width: 0;
    height: 60px;
    border: none;
    -webkit-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
    -webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
    transition: 0.3s;
}
.name_doctor {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #333333;
    margin-top: 20px;
}
.discription_doctor {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333333;
    margin-top: 5px;
}
.swiper_doctors {
    padding-top: 90px;
    margin-top: -50px;
}
.wrap_doctor:hover .btn_doctor{
    -webkit-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
    width: 255px;
    font-size: 16px;
}
#arrow_swiper_doctors .swiper-buttondoc-prev{
    top: 20px;
    right: 60px;
    left: auto;
    position: absolute;
    cursor: pointer;
}
#arrow_swiper_doctors .swiper-buttondoc-next{
    top: 20px;
    position: absolute;
    right: 0;
    cursor: pointer;
}
#arrow_swiper_doctors .swiper-buttondoc-prev:after{
    content: none;
}
#arrow_swiper_doctors .swiper-buttondoc-next:after{
    content: none;    
}
.modern{
    padding: 140px 0;
}
.modern_wrap{
    padding: 40px;
    background-image: url('/assets/img/bg/modernbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 528px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modern_subtitle{
    max-width: 380px;
}
.btn_modern{
    background: linear-gradient(326.32deg, #1DC387 -17.71%, #91E53E 130%);
    border-radius: 14px;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    width: 240px;
    height: 60px;
    border: none;
}
.equipment{
    padding-bottom: 140px;
    overflow: hidden;
}
#arrow_swiper_equipment .swiper-btnequipment-prev{
    top: 20px;
    right: 60px;
    left: auto;
    position: absolute;
    cursor: pointer;
}
#arrow_swiper_equipment .swiper-btnequipment-next{
    top: 20px;
    position: absolute;
    right: 0;
    cursor: pointer;
}
#arrow_swiper_equipment .swiper-btnequipment-prev:after{
    content: none;
}
#arrow_swiper_equipment .swiper-btnequipment-next:after{
    content: none;    
}
.swiper_equipment {
    padding-top: 90px;
    margin-top: -50px;
}
.path_swiper{
    fill:url('#gradient_swiper');
}
.swiper-button-disabled .path_swiper{
    fill:url('#gradient_swiperdis');
}
.swiper-buttondoc-next.swiper-button-disabled .path_swiper{
    fill:url('#gradient_swiperdis2');
}
.swiper-buttondoc-prev.swiper-button-disabled .path_swiper{
    fill:url('#gradient_swiperdis2');
}
.equipment_wrap{
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    border: 2px solid #91E53E;
    min-width: 820px;
}
.equipment_wrap_mini1{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.equipment_wrap_mini2{
    padding: 10px;
}
.container-swiper{
    clip-path: inset( -100vw -100vw -100vw 0 );
}
.swiper_equipment{
    overflow: visible;
}
.equipment_wrap_title {
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    max-width: 220px;
}
.equipment_wrap_txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333333;
    max-width: 300px;
}
.quiz{
    padding-bottom: 140px;
}
.quiz_wrap{
    background-image: url('/assets/img/bg/quiz.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 528px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
}
.img_quiz {
    position: absolute;
    top: -99px;
    right: 40px;
}
.quiz_title {
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 650px;
}
.quiz_mini_wrap {
    display: flex;
    align-items: center;
    gap: 35px;
}
.quiz_btn {
    background: #FFFFFF;
    border-radius: 14px;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #333333;
    border: none;
    width: 240px;
    height: 60px;
}
.quiz_txt {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    max-width: 235px;
}
.stocks{
    padding-bottom: 60px;
}
.stocks-subtitle{
    max-width: 460px;
}
.stocks_wrap {
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.stocks_submit {
    width: 295px;
    height: 60px;
    background: linear-gradient(326.32deg, #1DC387 -17.71%, #91E53E 130%);
    border-radius: 14px;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    border: none;
}
.stocks_inp{
    background: #EEF2F4;
    border: 1px solid #EEF2F4;
    border-radius: 14px;
    width: 295px;
    height: 60px;
    margin-right: 20px;
    padding-left: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #828282;
    outline: none;
}
input::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #828282;
}
input:-moz-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #828282;
}
.stocks_form{
    margin-bottom: 10px;
}
.footer{
    background: #333333;
    padding: 30px;
}
.wrap_footer{
    display: flex;
    justify-content: space-between;
}
.item_footer {
    padding-top: 30px;
}
.item_footer_logo{
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo_footer {
}
.item_footer_title {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #828282;
    margin-bottom: 20px;
}
.item_footer_link {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #EEF2F4;
    margin-bottom: 10px;
    display: block;
    transition: 0.3s;    
}
.item_footer_link:hover {
    color: #91E53E;
}
.wrap_cont_footer {
    margin-bottom: 20px;
}
.txt_cont_footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #EEF2F4;
}
.numb_link_footer {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #EEF2F4;
    transition: 0.3s;
}
.numb_link_footer:hover {
    color: #91E53E;
}
.txt_numb_footer {
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    color: #BDBDBD;
}
.link_mail_footer {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #EEF2F4;
    transition: 0.3s;
}
.link_mail_footer:hover {
    color: #91E53E;
}
.txt_mail_footer {
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    color: #BDBDBD;
}
.copy_txt{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    opacity: 0.5;
    margin-bottom: 20px;
}
.social_wrap{
    display: flex;
    gap: 10px;
    margin-top: 40px;
}
.social_link:hover .rec{
    stroke:#91E53E;
}
.social_link:hover .social_path{
    fill:#91E53E;
}


/* mrt */
.mrt {
    padding-top: 100px;
    padding-bottom: 140px;
}
.wrap_mrt {
    display: flex;
    justify-content: space-between;
}
.mrt_item {
}
.title_mrt {
    font-size: 54px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 35px;
}
.txt_mrt {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333333;
    max-width: 660px;
    margin-bottom: 25px;
}
.mrt_btn{
    background: linear-gradient(326.32deg, #1DC387 -17.71%, #91E53E 130%);
    border-radius: 14px;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #F2F2F2;
    width: 240px;
    height: 60px;
    border: none;
}
.mrt_item2{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.canculator_mrt {
    padding-bottom: 140px;
}
.canculator_mrt_wrap {
    border-radius: 20px;
    border: 2px solid #91E53E;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    height: 820px;
}
.canculator_mrt_title {
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 10px;
}
.toltip_wrap_mrt {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 40px;
}
.toltip_mrt {
    margin-bottom: 4px;
}
.toltip_txt_mrt {
    background: linear-gradient(326.32deg, #1DC387 -17.71%, #91E53E 130%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.area_mrt{
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #828282;
}
.selection_area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}
.selection_area_item {
    position: relative;
    background: #EEF2F4;
    border-radius: 14px;
    max-width: 340px;
    height: 52px;
    cursor: pointer;
}
.selection_area_item.active{
    height: auto;
}
.flex_selection_area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
}
.selection_area_name {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}
.selection_area_item .selection_area_name{
    color: #333333;
}
.selected_services{
    background: #EEF2F4;
    border-radius: 14px;
    padding: 30px;
    width: 340px;
    
}
.selected_services1{
    border-radius: 14px 14px 0 0;
    margin-bottom: 2px;
    height: 43%;
}
.selected_services2{
    border-radius: 0 0 14px 14px;
    height: 57%;
}
.selected_services_mini{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.selected_services_title{
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #333333;
}
.selected_services_name {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333333;
    margin-bottom: 5px;
}
.selected_services_price {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #333333;
}
.selected_services_btn{
    border: none;
    background: none;
}
.form_selected{
    height: 100%;
}
.wrap_check_switch{
    display: contents;
}
.switch_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contrast {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333333;
}
.invisibility {
}
.wrap_selected_price {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.itog {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #828282;
    margin-bottom: 10px;
}
.price_txt_selected {
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    text-align: right;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #333333;
}
.tel_selected{
    background: #FFFFFF;
    border-radius: 14px;
    width: 100%;
    padding-left: 30px;
    height: 60px;
    border: none;
    outline: none;
    margin-top: 15px;
    margin-bottom: 10px;
}
.btn_green {
    background: linear-gradient(326.32deg, #1DC387 -17.71%, #91E53E 130%);
    border-radius: 14px;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #fff;
    border: none;
}
.btn_selected{
    width: 100%;
    height: 60px;
}
.selected_sel{
    background: #FFFFFF;
    border-radius: 14px;
    width: 100%;
    height: 44px;
    border: none;
    padding: 0 20px;
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #828282;
    margin: 20px 0;
    outline: none;
}
.selected_sel{

}
.selected_sel {
	/* for Firefox */
	-moz-appearance: none;
	/* for Chrome */
	-webkit-appearance: none;
}
.selected_sel::-ms-expand {
	/* IE */
	display: none;
}

.check_switch {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  .lbl_switch {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 24px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  
  .lbl_switch:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
  
  .check_switch:checked + .lbl_switch {
    background: linear-gradient(326.32deg, #1DC387 -17.71%, #91E53E 130%);
  }
  
  .check_switch:checked + .lbl_switch:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  .lbl_switch:active:after {
    width: 40px;
  }
  .list_selected {
    margin-bottom: 10px;
    margin-left: 15px;
  }
.list_selected li{
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #828282;
}
.area_more {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.area_more_title {
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
color: #333333;
width: fit-content;
max-width: 250px;
min-height: 25px;
}
.selection_area_more{
    -webkit-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
    -webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
    position: absolute;
    background: #EEF2F4;
    z-index: 10;
    width: 100%;
    border-top: 2px solid #fff;
    padding: 20px 20px 0 20px;
    max-height: 340px;
    border-radius: 0 0 22px 14px;
    scroll-padding-right: 10px;
    transition: 0.3s;
}
.mrt_selected_arrow{
    transition: 0.3s;
}
.selection_area_item.active .mrt_selected_arrow{
    transform: rotate(90deg);
}
.selection_area_item.active .selection_area_name{
    color: #fff;
}
.selection_area_item.active{
    background: linear-gradient(326.32deg, #1DC387 -17.71%, #91E53E 130%);
    border-radius: 14px 14px 0 0;
}
.selection_area_item.active .selection_area_more{
    -webkit-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
}
.selection_area_item:hover{
    background: linear-gradient(326.32deg, #1DC387 -17.71%, #91E53E 130%);
}
.selection_area_item:hover .selection_area_name{
    color: #fff;
}
.scrolling_pad::-webkit-scrollbar {
    width: 4px;           /* ширина scrollbar */
    margin-bottom: 20px;
  }
  .scrolling_pad::-webkit-scrollbar-track {
    background: #FFFFFF;       /* цвет дорожки */
    margin-bottom: 20px;
    border-right: 10px solid #fff;
  }
  .scrolling_pad::-webkit-scrollbar-thumb {
    background: linear-gradient(326.32deg, #1DC387 -17.71%, #91E53E 130%);
    /* цвет плашки */
    border-radius: 14px;       /* закругления плашки */
  }
.area_more_btn {
    border: none;
    background: none;
    display: none;
}
.area_more:hover .area_more_btn{
    display: block;
}
.area_more:hover .area_more_title{
    background: linear-gradient(326.32deg, #1DC387 -17.71%, #91E53E 130%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.scrolling_pad{
    background: #EEF2F4;
    max-height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}